<footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Charnon Pattiyanon</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.facebook.com/toptenzc/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/chnpat/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/charnon-pat/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.researchgate.net/profile/Charnon-Pattiyanon" class="researchgate" target="_blank"><i class="fa fa-researchgate"></i></a>
        <a href="https://orcid.org/my-orcid?orcid=0000-0003-3660-2962" class="orcid" target="_blank"><i class="fa fa-orcid"></i></a>
        <a href="https://github.com/chnpat" class="github" target="_blank"><i class="fa fa-github"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>